<div class="footer">
    <div class="grid-1000">
        <ul class="foot-list">
            <li><a href="javascript:;">网站首页</a></li>
            <li><a href="javascript:;">公司简介</a></li>
            <li><a href="javascript:;">产品展示</a></li>
            <li><a href="javascript:;">产品目录</a></li>
            <li><a href="javascript:;">动态新闻</a></li>
            <li><a href="javascript:;">公司荣誉</a></li>
            <li><a href="javascript:;">在线留言</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <p class="foot-info">
            本站关键词：湘东科技展览模型,湖南水利水电模型,教学展览展示模型,新能源发电模型,仿真发电模型,水工实验室建设模型,灯光流程模型,风力发电沙盘模型,物流沙盘模型,火力发电沙盘模型,石油化工模型<br>   
            版权所有：浏阳市湘东科技展览模型有限公司 电话：0731-83650745（黄经理） 电话：13787191745（周经理）<br>
            网址：www.xiangdongmodel.cn 邮箱：xiangdon@163.com ＱＱ：690017554、954073684<br>
            地址：湖南省浏阳市花炮大道143号  湘ICP备14018998号-1　技术支持：
            <a href="http://www.hnjing.com" target="_blank" title="竞网智赢">竞网智赢</a>
        </p>
    </div>
</div>