<div class="header">
    <div class="grid-1000">
        <div class="toolbar clearfix">
            <ul class="ul tool-list">
                <li><a href="javascript:;">设为首页</a></li>
                <li><a href="javascript:;">加入收藏</a></li>
                <li><a href="javascript:;">联系我们</a></li>
            </ul>
        </div>
        <div class="logoWrap clearfix">
            <div class="logo">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="desc">
                <p class="color-orange">仿真模型设计</p>
                <p class="color-green">精心的设计·优良的品质·完善的售后服务</p>
            </div>
            <div class="concat">
                <dl class="dl">
                    <dt>
                        <img src="./images/tel.png" alt="">
                    </dt>
                    <dd style="padding-left: 5px">
                        <p class="tel-title">咨询热线</p>
                        <p class="tel">0731-83650745</p>
                    </dd>
                </dl>
            </div>
        </div>
        
    </div>
    <div class="nav">
        <div class="grid-1000">
            <ul class="ul nav-list">
                <li class="items"><a href="javascript:;">网站首页</a></li>
                <li class="items"><a href="javascript:;">公司简介</a></li>
                <li class="items">
                    <a href="javascript:;">产品展示</a>
                    <ul class="nav-sub-list">
                        <li class="li"><a href="javascript:;" title="水利水电及水系模型">水利水电及...</a></li>
                        <li class="li"><a href="javascript:;" title="热能动力及变电模型">热能动力及...</a></li>
                        <li class="li"><a href="javascript:;" title="电网电气实训室">电网电气实...</a></li>
                        <li class="li"><a href="javascript:;" title="新能源发电及环境工程">新能源发电...</a></li>
                        <li class="li"><a href="javascript:;" title="核工程及核电站模型">核工程及核...</a></li>
                        <li class="li"><a href="javascript:;" title="采油及化工装置模型">采油及化工...</a></li>
                        <li class="li"><a href="javascript:;" title="路桥土木">路桥土木</a></li>
                        <li class="li"><a href="javascript:;" title="泵阀及水工模型">泵阀及水工...</a></li>
                        <li class="li"><a href="javascript:;" title="物流港口及火车模型">物流港口及...</a></li>
                        <li class="li"><a href="javascript:;" title="采矿专业模型">采矿专业模...</a></li>
                        <li class="li"><a href="javascript:;" title="房屋建筑学系列模型">房屋建筑学...</a></li>
                    </ul>
                </li>
                <li class="items">
                    <a href="javascript:;">产品目录</a>
                    <ul class="nav-sub-list">
                        <li class="li"><a href="javascript:;" title="电厂热动类模型">电厂热动类...</a></li>
                        <li class="li"><a href="javascript:;" title="电网电气模型">电网电气模...</a></li>
                        <li class="li"><a href="javascript:;" title="水利水电类模型">水利水电类...</a></li>
                        <li class="li"><a href="javascript:;" title="水泵站及泵专业模型">水泵站及泵...</a></li>
                        <li class="li"><a href="javascript:;" title="新能源科普及核电站模型">新能源科普...</a></li>
                        <li class="li"><a href="javascript:;" title="桥梁及机械施工模型">桥梁及机械...</a></li>
                        <li class="li"><a href="javascript:;" title="港物流口及机械模型">港物流口及...</a></li>
                        <li class="li"><a href="javascript:;" title="石油工程...">石油工程,钻...</a></li>
                        <li class="li"><a href="javascript:;" title="内燃机,柴油...">内燃机,柴油...</a></li>
                    </ul>
                </li>
                <li class="items"><a href="javascript:;">动态新闻</a></li>
                <li class="items"><a href="javascript:;">公司荣誉</a></li>
                <li class="items"><a href="javascript:;">在线留言</a></li>
                <li class="items"><a href="javascript:;">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>